@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<button type="button" id="btnlist" class="btn btn-primary">Personel Listesi</button>
<button type="button" id="btnadd" class="btn btn-info">Personel Ekle</button>
<button type="button" id="btndelete" class="btn btn-danger">Personel Sil</button>
<button type="button" id="btnget" class="btn btn-dark">Personel Getir</button>
<button type="button" id="btnupdate" class="btn btn-success">Personel Güncelle</button>

<br />

<div id="employeelist">
</div>
<br />

<div>
    <h3>Ürün Ekleme Bölümü</h3>
    <input type="text" id="txtname" class="form-control" placeholder="Personel Adı" />
    <br />
    <input type="text" id="txtsurname" class="form-control" placeholder="Personel Soyadı" />
    <br />
    <input type="text" id="txtcity" class="form-control" placeholder="Personel Şehri" />
    <br />
</div>
<br />
<div>
    <input type="text" class="form-control" placeholder="Silinecek ID değerini gir." id="txtdeletedid" />
</div>

<div>
        <h3>Müşteri Güncelleme Paneli</h3>
        <br />
        <input type="text" class="form-control" id="txteditemployeeid" placeholder="Güncellenecek ID Değeri" />
        <br />
        <input type="text" class="form-control" id="txteditemployeename" placeholder="Güncellenecek Ad Değeri" />
        <br />
    <input type="text" class="form-control" id="txteditemployeesurname" placeholder="Güncellenecek Soyad Değeri" />
        <br />
    <input type="text" class="form-control" id="txteditemployeecity" placeholder="Güncellenecek Şehir Değeri" />

        <br />
        <hr />
    </div>
<script>
    $("#btnlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Employee/EmployeeList/",
            success: function (func1) {
                let v = JSON.parse(func1);
                console.log(v);
            }
        });
    });

    $("#btnadd").click(function () {
        let values = {
            EmployeeName: $("#txtname").val(),
            EmployeeSurName: $("#txtsurname").val(),
            EmployeeCity: $("#txtcity").val()
        };
        $.ajax({
            type: "Post",
            url: "/Employee/AddEmployee/",
            data: values,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                swal("Bravo, tebrikler!", "Müşteri Başarılı Bir Şekilde Eklendi!", "success");
            }
        });
    });

    $("#btndelete").click(function () {
        let id = $("#txtdeletedid").val();
            $.ajax({
                type: "Get",
                url: "/Employee/DeleteEmployee/" + id,
                contentType: "application/json",
                dataType: "json",
                success: function (funk3) {
                    alert("Müşteri Başarılı Bir Şekilde Silindi.");
                }
            });
    });

    $("#btnupdate").click(function () {
        let values = {
            EmployeeID: $("#txteditemployeeid").val(),
            EmployeeName: $("#txteditemployeename").val(),
            EmployeeSurName: $("#txteditemployeesurname").val(),
            EmployeeCity: $("#txteditemployeecity").val()
        };
        $.ajax({
            type: "post",
            url: "/Employee/UpdateEmployee/",
            data: values,
            success: function (funk5) {
                swal("Bravo, tebrikler!", "Veriler Güncellendi!", "success");
            }
        });
    });

</script>


